### `Ali Almalki`

This tutorial is about accessing database server and executing SQL statements in python.

In [ ]:
# Import all required libraries 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import sklearn
import mysql.connector

### Connect to the database server

In [ ]:
mydb = mysql.connector.connect(
host="127.0.0.1",
port=3306,
user="root",
password="########") # Put your own password!

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fdd6a8b5510>

In [ ]:
# Create a cursor object to communicate with my local SQL server
mycursor = mydb.cursor()
print(mycursor)

MySQLCursor: (Nothing executed yet)

### Execute SQL statements

In [ ]:
# Show all databases in my local SQL server 
mycursor.execute("SHOW DATABASES")

# Print all databases 
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('testdb',)

In [ ]:
# Drop a database
mycursor.execute("DROP DATABASE testdb")

In [ ]:
# Create a database 
mycursor.execute("CREATE DATABASE testdb")

In [ ]:
# Check databases again 
mycursor.execute("SHOW DATABASES")

# Print all databases 
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('testdb',)

### We can see that `testdb` database has been created. Wonderful!

### Create a table

In [ ]:
# Create a table inside testdb database 
mycursor.execute("USE testdb") # USE database_name
mycursor.execute("CREATE TABLE students(name VARCHAR(255), age INTEGER(10))")

In [ ]:
# Check that the students table has been created inside testdb database
mycursor.execute("SHOW TABLES")

# Print existing tables
for tb in mycursor:
    print(tb)

('students',)

### Populate students table inside testdb Database

In [ ]:
sqlFormula = "INSERT INTO students (name, age) VALUES (%s, %s)"

In [ ]:
student1 = ("Ali", 27)
mycursor.execute(sqlFormula, student1)

#commit
mydb.commit()

In [ ]:
student2 = ("Khalid", 25)
mycursor.execute(sqlFormula, student2)

#commit
mydb.commit()

student3 = ("Ahmad", 24)
mycursor.execute(sqlFormula, student3)

#commit
mydb.commit()

In [ ]:
# Use executemany() function
students = [("Fahad", 32),
           ("Sultan", 22),
           ("Naif", 19),
           ("Badar", 29),
           ("majed", 23)]
mycursor.executemany(sqlFormula, students)

#commit
mydb.commit()

### Selecting and Getting Data

In [ ]:
mycursor.execute("USE testdb")
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchall()

# Print results 
for row in myresult:
    print(row)

('Ali', 27)
('Khalid', 25)
('Ahmad', 24)
('Fahad', 32)
('Sultan', 22)
('Naif', 19)
('Badar', 29)
('majed', 23)

### WHERE and Wildcards

In [ ]:
sql = "SELECT * FROM students WHERE age=27"
mycursor.execute(sql)
myresult = mycursor.fetchall()

# Print 
for row in myresult:
    print(row)

('Ali', 27)